<particles [style]="myStyle" [width]="width" [height]="height" [params]="myParams"></particles>

    <div class="charts" style="position: absolute; width: 100%; top: 0;
    bottom: 0;background-image: url(../../../assets/images/checkered-pattern.png);">
        <div class="contact-us login-page" >
            <h2>Sign In</h2>
            <label style="font-size: 16px;font-weight: bold">Please enter your Username and Password.</label>
            <hr>
            <form #loginForm="ngForm">
                <fieldset class="form-group">
                    <input class="form-control" required name="username" #userName [(ngModel)]="loginObject.username" placeholder="User Name" style="height: 40px">
                </fieldset>
                <fieldset class="form-group">
                    <input type="password" class="form-control" required  name="pass" #passWord [(ngModel)]="loginObject.pass" placeholder="Password"style="height: 40px">
                </fieldset>
                <div class="form-check" style="margin-bottom: 20px">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="" style="width: 15px;height: 15px">Remember me
                    </label>
                </div>
                <hr>
                <div class="more-information">
                    <label>
                    <span>By clicking Sign In, you agree to our<a href="#">Terms of Use</a> and our <a href="#">Privacy
                        Policy</a>.
                    </span>
                </label></div>

                <button class="submit-btn"
                        [disabled]="!loginForm.valid"
                        style="marginn-top: 20px;margin-bottom: 10px"
                (click)="onLoggedin()">Login</button>
                <a href="#" style="text-align: center">Forget Password?</a>
            </form>
        </div>
    </div>

