<div class="charts" style="background-image: url(../../../assets/images/checkered-pattern.png);">
    <div class="video-style">
        <div style="padding: 10px;padding-top: 30px;">
            <div class="small-video" style="border: solid #eec45bc7 3px;height: 518px;">
                <video controls #videoPlayer autoplay height="510" width="100%" style="background: #002531">
                    <source src="../../../assets/videos/LearnEliteVideo.mp4" type="video/mp4"/>
                </video>
            </div>
        </div>
    </div>
    <div class="video-style" style="margin-top: 30px;margin-bottom: 30px">
        <h1 class="main-titles" style="border-bottom: 0px">Meet The Team</h1>
        <h2 class="main-titles" style="font-size: 26px;">At Learn Elite Our Skill Sets Will Get You From Where You Are
            To Where You Want To Go!
        </h2>
        <div class="row " style="margin-right: 0px;margin-left: 0px">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 " style="margin-bottom: 100px">
                <div class="members-box">
                    <img class="img-responsive img-thumbnail members-img " src="../../../assets/images/christopher.jpg">
                    <p class="team-name" style="font-size: 22px;text-align: center;font-weight: bold;margin-top: 10px">Christopher
                        Hutchinson
                    </p>
                    <hr style="margin-top: 5px;margin-bottom: 5px">
                    <p style="font-size: 18px;text-align: center;margin-bottom: .5rem;color:#0b2e39">
                        Web Design
                    </p>
                    <p style="font-size: 16px;text-align: center;color:#0b2e39">
                        Software Programming
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="margin-bottom: 100px">
                <div class="members-box">
                    <img class="img-responsive img-thumbnail members-img" src="../../../assets/images/raphael.jpg">
                    <p class="team-name" style="font-size: 22px;text-align: center;font-weight: bold;margin-top: 10px">
                        Raphael Freelander
                    </p>
                    <hr style="margin-top: 5px;margin-bottom: 5px">
                    <p style="font-size: 18px;text-align: center;margin-bottom: .5rem;color:#0b2e39">
                        Co-Founder Of Learn Elite
                    </p>
                    <p style="font-size: 16px;text-align: center;color:#0b2e39">
                        Business Specialist
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="margin-bottom: 100px">
                <div class="members-box">
                    <img class="img-responsive img-thumbnail members-img" src="../../../assets/images/miles.jpg">
                    <p class="team-name" style="font-size: 22px;text-align: center;font-weight: bold;margin-top: 10px">
                        Miles Banks
                    </p>
                    <hr style="margin-top: 5px;margin-bottom: 5px">
                    <p style="font-size: 18px;text-align: center;margin-bottom: .5rem;color:#0b2e39">
                        Co-Founder Of Learn Elite
                    </p>
                    <p style="font-size: 16px;text-align: center;color:#0b2e39">
                        Technology Team Manager
                    </p>
                </div>
            </div>
        </div>
        <div class="row" style="width: 100%;margin-left: 0px;margin-right: 0px">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs12" style="margin-bottom: 100px">
                <div class="members-box">
                    <img class="img-responsive img-thumbnail members-img" src="../../../assets/images/justin.jpg">
                    <p class="team-name" style="font-size: 22px;text-align: center;font-weight: bold;margin-top: 10px">
                        Justin Munizzi
                    </p>
                    <hr style="margin-top: 5px;margin-bottom: 5px">
                    <p  style="font-size: 18px;text-align: center;margin-bottom: .5rem;color:#0b2e39">
                        Lawyer Of The Company
                    </p>
                    <p style="font-size: 16px;text-align: center;color:#0b2e39">
                        The Law Office Of Justin S. Munizzi,.P.A
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="members-box">
                    <img class="img-responsive img-thumbnail members-img" src="../../../assets/images/popp.png">
                    <p class="team-name" style="font-size: 22px;text-align: center;font-weight: bold;margin-top: 10px">
                        Justin Popp
                    </p>
                    <hr style="margin-top: 5px;margin-bottom: 5px">
                    <p style="font-size: 18px;text-align: center;margin-bottom: .5rem;color:#0b2e39">
                        Photography
                    </p>
                    <p style="font-size: 16px;text-align: center;color:#0b2e39">
                        Videography
                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">

            </div>
        </div>


    </div>
    <div class="video-style">
        <h1 class="main-titles" style="margin-bottom: 30px!important;">Mission Statement</h1>

        <p style="font-size: 20px;text-align: center;font-size: 18px; padding: 10px;margin-bottom: 40px">
            Learn-Elite designs personalized platforms for some of the top influencers on social media to further reach
            and utilize their own personal brand to the fullest extent. We create tailored online courses, and personalized websites
            for all our valued clients. With the help of
            a talented team possessing a wide variety of skill sets, Learn-Elite will add an additional way for influencers to interact
            with their audience while also creating another revenue stream. We are determined to
            provide personalized service while establishing mutually beneficial relationships with our valued
            influencers.
        </p>
    </div>
    <div class="contact-us" style="margin-bottom: 40px">
        <h2 class="main-titles" style="margin-bottom: 20px!important;">Contact Us</h2>

        <form #contactUsForm="ngForm">
            <fieldset class="form-group">
                <label> Name</label>
                <input name="name" #Name="ngModel" required [(ngModel)]="contactUsModel.name" class="form-control"
                       placeholder="Name">
            </fieldset>
            <fieldset class="form-group">
                <label><strong style="color: #da1010">* </strong>Course Topic </label>
                <input name="courseT" #courseT="ngModel" required [(ngModel)]="contactUsModel.topic"
                       class="form-control" placeholder="Course Topic">
            </fieldset>
            <fieldset class="form-group">
                <label>Phone Number</label>
                <input name="phone" #phone="ngModel" required [(ngModel)]="contactUsModel.phone" class="form-control"
                       placeholder="Phone Number">
            </fieldset>
            <fieldset class="form-group">
                <label><strong style="color: #da1010">* </strong>Email</label>
                <input name="email" pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$" #email="ngModel" required
                       [(ngModel)]="contactUsModel.email" class="form-control" placeholder="Email">
            </fieldset>
            <fieldset class="form-group">
                <label>Who Are You?</label>
                <textarea #text="ngModel" required rows="5" name="text" [(ngModel)]="contactUsModel.text"
                          placeholder="Your text" style="width: 100%;padding-left: 10px;padding-top: 5px">

             </textarea>
            </fieldset>
            <button class="submit-btn" (click)="contactUs()">Submit</button>
        </form>
    </div>
</div>
